<div class="contact-2_form-section padding-top-120 padding-bottom-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12">
                <div class="contact_main-comment-box-wrapper border-none">
                    <div class="contact_main-comment-box__inner">
                        <div class="form-box-style__form-wrapper">
                            <form class="form-box-style">
                                <div class="row form--row-custom form-box-style__form-inner d-flex justify-content-center">
                                    <div class="col-md-6 col-12">
                                        <div class="form-box-style__form-input">
                                            <h3 class="form-box-style-title">Email address</h3>
                                            <input class="form-control bg-light-2" type="text" placeholder="Enter your email" autocomplete="false" required />
                                        </div>
                                        <div class="form-box-style__form-input">
                                            <h3 class="form-box-style-title">Password</h3>
                                            <input class="form-control bg-light-2" type="password" placeholder="Enter your password" autocomplete="false" required />
                                        </div>
                                        <div class="form-box-style__form-input-button">
                                            <button type="submit" class="btn-masco rounded-pill">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row form--row-custom form-box-style__form-inner d-flex justify-content-center">
                                <div class="col-md-6 col-12">
                                    <p>Or Login with :</p>
                                    <div class="section-button my-1">
                                        <a href="/auth/google" class="btn-masco btn-fill--up rounded-pill mx-1"><span><i class="fa-brands fa-google" aria-hidden="true"></i> Google</span></a>
                                        <a href="#" class="btn-masco btn-fill--up rounded-pill mx-1"><span><i class="fa-brands fa-github" aria-hidden="true"></i> Github</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
