<div class="home-10_hero-section bg-white" id="hero">
    <div class="container">
        <div class="home-10_hero-section-wrapper">
            <div class="row row--custom">
                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-8 col-10">
                    <div class="home-10_hero-image-block">
                        <div class="home-10_hero-image">
                            <img src="https://images.unsplash.com/photo-1591195852468-03a01d1375d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="hero image" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-10">
                    <div class="home-10_hero-content-block">
                        <div class="home-10_hero-text-block">
                            <h1 class="hero-content__title heading-xl heading-xl--v2">The simplest way to keep notes</h1>
                            <p>NoteEase is the easiest and most intuitive online platform designed for hassle-free note-takin</p>
                        </div>
                        <div class="home-10_hero-button-group">
                            <a href="/register" class="btn-masco btn-primary-l08 btn-fill--slide">
                                <span><span>Get started— it's free</span></span>
                            </a>
                            <a href="#" class="btn-masco btn-outline-l08 btn-fill--slide-reverse">
                                <span><span>Schedule a demo</span></span>
                            </a>
                        </div>
                        <div class="home-10_button-bottom-rating">
                            <img src="/image/icons/trustpilot.png" alt="trustpilot image" />
                            <div>
                                <span class="review-text"> <img src="/image/icons/star-yellow-2.svg" alt="star image" />4.8/5 Rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
